//Paths
$fonts_folder: "../../fonts";
$images_folder: '../../img/';

// Fonts
$font-primary: "AvenirLTStd-Black", sans-serif;
$font-secondary: "AvenirLTStd-Heavy", sans-serif;
$font-tertiar: "AvenirLTStd-Book", sans-serif;
$font-quaternary: "VAGRoundedStd-Bold", sans-serif;
$font-quinary: "HandOfSeanPro", sans-serif;


// Colors
$primary-color: #71B6D0;
$secondary-color: #FCB316;
$tertiary-color: #FFE98F;
$light-gray: #F6F6F6;
$light-med-gray: #D9D9D9;
$medium-gray: #A7A9AC;
$dark-gray: #818181;
$toxic-pink: #ff00ff;
$white: #ffffff;

// text
$main-font-size: 18px;
$main-line-height: 22px;

//Screens
$screen-lg: 1439px;
$screen-md: 1023px;
$screen-sm: 767px;
$screen-xs: 499px;
